<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafs.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users List</title>
</head>

<body>
<table>
    <tr style="height:50px">
        <td style="width:200px"></td>
    </tr>
    <tr>
        <td style="width:200px"></td>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${list}">
        <td style="width:200px"></td>
        <td th:text="${user.firstName}">Name</td>
        <td th:text="${user.lastName}">Last Name</td>
        <td th:text="${user.age}">Age</td>
        <td><a th:href="@{edit(id=${user.id})}">edit</a></td>
        <td>
            <form th:method="POST" th:action="@{delete(id=${user.id})}">
                <input type="submit" value="delete">
            </form>
        </td>

    </tr>
    <tr>
        <td style="width:200px"></td>
        <td><a href="add">Add user</a></td>
    </tr>
</table>
</body>
</html>